/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #878787;
}

/* general */

body {
    max-width: 1440px;
    margin: auto;
}

nav {
    margin: 35px 0;
}

nav ul li {
    display: inline;
    margin-right: 25px;
}

/* specific class */

.logo {
    display: inline-block;
    height: 80px;
    min-height: 70px;
}

.first-section {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
