/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
body {
    max-width: 1440px;
    margin: auto;
}

.logo {
    display: inline-block;
    height: 80px;
    min-height: 70px;
}